/* 폰트 1*/
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
/* 폰트 2 */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

html, .tui-editor-contents {
  font-family: 'LotteMartDream', sans-serif !important;
  
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}

.flex-jc-fe {
  justify-content:flex-end;
}

.flex-ai-c {
  align-items:center;
}

.flex-ai-fe {
  align-items:flex-end;
}

.flex-wrap {
  flex-wrap:wrap;
}

.flex-column {
  flex-direction:column;
}

.flex-grow-1 {
  flex-grow:1;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.min-height-100vh {
  min-height:100vh;
}

.min-height-50vh {
  min-height:50vh;
}

.bg-pink {
  background-color:pink;
}

.bd-green {
  border:3px solid green;
}

.bd-red {
  border:3px solid red;
}

.bd-purple {
  border:3px solid purple;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.height-100p {
  height:100%;
}

.height-70p{
  height:70%;
}

.height-500px{
  height:500px;
}


.block {
  display:block;
}

.hover-underline:hover{
  text-decoration:underline;
}

/* 커스텀 */
.con-min-width {
  min-width:1200px;
  padding:0 20px;
}

.con {
  width:1200px;
}

.side-bar-header{
  position:relative;
}

.side-bar-header_con{
  position:relative;
}


/* 로고 시작 */
.logo {
  font-family: 'Arvo', serif;
  font-size:4rem;
  font-weight:bold;
}

.logo > span > span {
  margin-right:5%;
  color:red;
}

.logo__img{
  width:200px;
  margin-right:10px;
}

.logo--mini {
  font-size:2rem;
}

.logo--mini__img{
  height:45px;
}

/* 로고 끝 */


/* 로고바 시작 */
.logo-bar {
  background-color:black;
  color:white;
  height:150px;
}
/* 로고바 끝 */



/* 메뉴바 시작 */
.menu-bar {
  background-color:black;
  color:white;
  font-weight:bold;
}

.menu-bar__menu-1 > ul > li {
  width:25%;
  position:relative;
}

.menu-bar__menu-1 ul > li > a {
  text-align:center;
  padding:20px 0;
}

.menu-bar__menu-1 ul > li:hover > a {
  background-color:white;
  color:black;
}

.menu-bar__menu-1 > ul > li > a {
  border-radius:10px 10px 0 0;
}

.menu-bar__menu-1 > ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:-5px;
  width:100%;
  background-color:black;
  border:5px solid black;
  border-top-width:0;
  border-radius:0 0 16px 16px;
  z-index:10;
}

.menu-bar__menu-1 > ul > li:hover > ul {
  display:block;
}

.menu-bar__menu-1 > ul ul > li:last-child > a {
  border-radius:0 0 10px 10px;
}
/* 메뉴바 끝 */



/* 타이틀바 시작 */
.title-bar {
  margin-top:30px;
  margin-bottom:30px;
}
/* 타이틀바 끝 */



/* 하단바 시작 */
.bottom-bar {
  background-color:black;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
}

.bottom-bar__site-info {
  font-family: 'Arvo', serif;
  font-size:0.8rem;
  margin-left:1%;
}
/* 하단바 끝 */



/* 메인 컨텐츠 박스 시작 */
.main-box{
  min-height:800px;
  padding-bottom:50px;
}
/* 메인 컨텐츠 박스 끝 */



/* 메인-index 페이지 시작 */
.section-home{
  padding:20px;

}

.section-home > div{
  position:relative;
  width:100%; 
}

.section-home >div > *{
  position:absolute;
  
}

.section-home nav{
  top:220px;
  right:0px;
  font-size:2.5rem;
  text-align:center;
}

.section-home nav > span:last-child{
  font-size:1.4rem;
}

.img1{
  height:320px;
  animation:fadein 2s;
}

.img2{
  height:330px;
  top:350px;
  left:280px;
  animation:fadein 4s;
}

.img3{
  height:300px;
  top:120px;
  left:430px;
  animation:fadein 5s;
}

  @keyframes fadein {
        from {
            opacity: 0;
        }
 
        to {
            opacity: 1;
        }
    }

@media ( min-width:1800px ){
    .img1 {
        left:250px;
     }
  
    .img2 {
        left:350px;
        top:400px;
     }
    .img3 {
        height:300px;
        left:700px;
        top:200px;
    }
}

@media (max-width:1799px) and ( min-width:1600px ) {
  .img1 {
        left:100px;
     }
  
  .img2 {
        left:270px;
     }
}

@media (max-width:1599px) and (min-width:1300px ) {
    .img3 {
        display:none;
    }
}

@media ( max-width:1299px ) and (min-width:750px ) {
     .img1 {
        height:250px;
       top:20px;
     }
  
  .img2 {
        height:300px;
        top:320px;
        left:200px;
     }
  
    .img3 {
        display:none;
    }
}

@media ( max-width:749px ) {
  .img1 {
        display:none;
     }
  
  .img2 {
        display:none;
     }
  
    .img3 {
        display:none;
    }
  
}
  

/* 메인-index 페이지 끝 */


/* 메인-홈-공지 리스트 페이지 시작 */
.section-home-list{
  width:100%;
  text-align:center;
  font-size:1.1rem;
  
}

.home-list{
  width:600px;
  margin-top:100px;
  margin-right:50px;
  min-height:300px;
}

.home-list > span{
  font-weight:bold;
  font-size:2rem;
}

.home-list > header{
  margin-top:20px;
}

.home-list > * > div{
  display:flex;
  justify-content:center;
}

.home-list > header > div > div {
  position:relative;
}

.home-list > header > div > div:not(:last-child):after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:2px;
  height:15px;
  background-color:black;
}

.home-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.home-list__cell-body > div> .home-list__cell-title{
  text-align:left;
  padding-left:30px;
}


.home-list__cell-id {
  width:20%;
}

.home-list__cell-title {
  width:80%;
}

.home-list > .home-list__cell-body > div {
  border-top:1px solid black;
}

@media ( min-width:2100px ){
.home-list{
      width:600px;
      margin-top:100px;
      margin-right:200px;
      min-height:300px;
    }
}

@media ( max-width:2099px ) and ( min-width:1800px ){

}

@media (max-width:1799px) and ( min-width:1600px ) {

}

@media (max-width:1599px) and (min-width:1300px ) {

}

@media ( max-width:1299px ) and (min-width:750px ) {

}

@media ( max-width:749px ) {
      .section-home-list{
      justify-content:flex-start;
  
      }
    
      .home-list{
      width:600px;
      margin-top:100px;
      margin-left:10px;
      min-height:300px;
    }
}


/* 메인-홈-공지 리스트 페이지 끝 */




/* 게시물 상세페이지 시작 */
.section-2{
  font-size:1.1rem;
}

.article-detail-cell__body{
  border-top:7px solid black;
  border-bottom:7px solid black;
  padding:30px;
}
.article-list-bottom-cell > div{
  padding:15px;
  padding-top:25px;
  padding-bottom:5px;
}

.article-detail-cell__title{
  font-size:2rem;
  padding:15px 0;
}
.article-detail-cell__body .tui-editor-contents{
  font-size:1.1rem;
}
/* 게시물 상세페이지 끝 */
/* 게시물 상세페이지 하단 메뉴 시작 */
.article-list-bottom-cell{
  font-size:1.2rem;
  font-weight:bold;
}
/* 게시물 상세페이지 하단 메뉴 끝 */


/* 맨 위 버튼 시작 */
.top-button{
  display:none;
  position:fixed;
  bottom:40px;
  right:20px;
  width:70px;
  height:30px;
  text-align:center;
  
}
.top-button > div{
  width:100%;
  height:100%; 
  font-size:1.1rem;
  border-radius:10px;
}

.top-button > div > a{
  display:inline-block;
  width:100%;
  height:85%;
  background-color:#222222;
  color:white;
  border-radius:10px;
  border:3px solid;
  padding-top:7px;
}

.top-button > div:hover > a{
  background-color:white;
  color:black;

}
/* 맨 위 버튼 끝 */


/* 게시물 리스트 페이지 시작*/
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width));
}

.article-list{
  font-size:1.1rem;
}

.article-list > * > div {
  display:flex;
}

.article-list > header > div > div {
  position:relative;
}

.article-list > header > div > div:not(:last-child):after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:2px;
  height:15px;
  background-color:black;
}

.article-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-body > div> .article-list__cell-title{
  text-align:left;
  padding-left:30px;
}


.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list > .main > div {
  border-top:1px solid black;
}

/* 게시물 리스트 페이지 끝 */
/* 게시물 리스트 하단 메뉴 시작 */
.article-page-menu {
  margin-top:20px;
  font-size:1.2rem;
}

.article-page-menu > ul > li > a {
  border:1px solid transparent;
  padding:7px;
  font-weight:bold;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child) > a {
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}

.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  border-color:#afafaf;
}

.article-page-menu__link--selected {
  color:red;
}

.article-page-menu > ul > li:hover > a {
  color:red;
}
/* 게시물 리스트 하단 메뉴 끝 */



/* 사이드바 메뉴 시작 */

.side-bar{
  background-color:#222222;
  position:fixed;
  width:170px;
  height:100%;
  left:-130px;
  /*사이드바 고정 left:0;*/

  transition:left 1s;
  color:white;
}
.side-bar:hover{
  left:0;
  background-color:#111111;
}

.side-bar > .side-bar__status-icon > div{
  text-align:right;
  padding:10px;
  font-size:1.5rem;
  
}
.side-bar > .side-bar__status-icon > div:first-child{
  padding-top:30px;
}
.side-bar > .side-bar__status-icon > div:first-child >i{
  padding-left:40px;
}

.side-bar > .side-bar__status-icon > div:nth-child(2){
  display:none;
}
.side-bar:hover > .side-bar__status-icon > div:last-child{
  display:none;
}
.side-bar:hover > .side-bar__status-icon > div:nth-child(2){
  display:block;
}
.side-bar__menu ul{
  
}

.side-bar__menu ul ul{
  background-color:#111111;
  display:none;
  position:absolute;
}
.side-bar__menu ul > li{
  position:relative;
}


.side-bar__menu > ul > li::after{
  content:"";
  text-align:center;
  height:2px;
  width:75%;
  bottom:0%;
  background-color:white;
  position:absolute;

}
.side-bar__menu ul > li > a{
  display:block;
  padding:15px 20px;
  white-space:nowrap;
}
.side-bar__menu ul> li> ul > li:first-child > a{
  border-radius:0 10px 0 0;
}
.side-bar__menu ul> li> ul > li:last-child > a{
  border-radius:0 0 10px 0;
}

.side-bar__menu ul > li > a:not(:only-child):after{
  content:"[+]";
  margin-left:2px;
}
.side-bar__menu ul > li:hover > a:not(:only-child):after{
  content:"[-]";
}
.side-bar__menu ul > li:hover > a{
  background-color:white;
  color:black;
}

.side-bar__menu ul > li:hover > ul{
  display:block;
}
.side-bar__menu ul > li > ul{
  left:100%;
  top:-5px;
  border:5px solid #111111;
  border-left:0px;
  border-radius:0 15px 15px 0;
}


@media ( min-width:1300px ) {
    .side-bar {
        width:170px;
    }
}

/* 미디어의 크기가 1300px이상일때만 side-bar 보이기 */
@media ( max-width:1299px )  {
    .side-bar {
        width:0px;
    }
}

/* 사이드바 메뉴 끝 */



/* 토스트에디터-유튜브 플러그인 시작 */
.toast-ui-youtube-plugin-wrap{
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.toast-ui-youtube-plugin-wrap::before{
  content:"";
  display:block;
  padding-top:calc(100% / 16 * 9);
}

.toast-ui-youtube-plugin-wrap > iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/* 토스트에디터-유튜브 플러그인 끝 */




/* Statistics 페이지 시작 */
.count-box{
  height:550px;
  font-size:1.2rem;
  padding:30px;
  padding-left:50px;
}
.count-box >*{
  margin-top:20px;
}


/* Statistics 페이지 끝 */

/* 검색 페이지 시작 */
.article-search-list{
  font-size:1.1rem;
}

.article-search-list > * > div {
  display:flex;
}

.article-search-list > header > div > div {
  position:relative;
}

.article-search-list > header > div > div:not(:last-child):after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:2px;
  height:15px;
  background-color:black;
}

.article-search-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.main .article-search-list__cell-title{
  text-align:left;
  padding-left:30px;
}


.article-search-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-search-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-search-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-search-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-search-list > .main > div {
  border-top:1px solid black;
}

.search-div{
  margin-bottom:50px;
  padding-top:0px;
}
.search-form{

}
.input{
  border:4px solid;
  font-size:1.5rem;
  height:50px;
}

/* 검색 페이지 끝 */